pre{
	background : lightblue;
	font-size : 2.0em;
}

div{
	border : 1px solid blue;
	width : 500px;
	height: auto;
	margin : 20px;
	padding : 20px;
}
input[type=button]{
	
	width : 60px;
	height: 30px;
	padding : 5px 10px;
	background: #fcfcfc;
	border-radius : 10px;
	
}